<head>

</head>
<body>
    <form method="POST" action="/new">
        <h2>Form</h2>
        <label for="author">Author: </label> <input type="text" name="author">
        <label for="message">Message: </label> <input type="text" name="message">
        <button>Submit</button>
    </form>
</body>