<head>

</head>
<body>
    <div>Author: <%= message.user %> </div>
    <div>Message: <%= message.text %> </div>
    <div>Date: <%= message.added %></div>
    <button><a href="/">Back to Home</a></button>
</body>